<nb-card>
    <nb-card-header>
       Allowd Trainings List
    </nb-card-header>
    <nb-card-body>
        <div class="training">
            <nb-accordion>
                <nb-accordion-item *ngFor="let traningsList of traningsList">
                 <nb-accordion-item-header class="header">{{traningsList.label}}</nb-accordion-item-header>
                 <nb-accordion-item-body>
                  <small><b>Date : </b>{{traningsList.date | date }}</small> <br>
                  <small><b>Place : </b>{{traningsList.place}}</small> <br>
                  <br>
                   <button  nbButton status="primary" class="addBtn">Paticipate</button>
                 </nb-accordion-item-body>
                </nb-accordion-item>
            </nb-accordion>

            
        </div>
     </nb-card-body>
</nb-card>